src/Soulstone.SL/Service References/SoulstoneService/SoulstoneService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1281/SoulstoneService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Soulstone.WebUI" />
  <xs:import schemaLocation="http://localhost:1281/SoulstoneService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="album" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="artist" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
        <xs:element minOccurs="0" name="genre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Soulstone.WebUI" minOccurs="0" name="SearchResult" nillable="true" type="q1:SearchResultSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMusicTrack">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="musicTrackId" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMusicTrackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Soulstone.WebUI" minOccurs="0" name="GetMusicTrackResult" nillable="true" type="q3:MusicTrack" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>