src/Soulstone.SL/Service References/SoulstoneService/SoulstoneService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="SoulstoneService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1281/SoulstoneService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1281/SoulstoneService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1281/SoulstoneService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Soulstone.WebUI" />
      <xsd:import schemaLocation="http://localhost:1281/SoulstoneService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISoulstoneService_Search_InputMessage">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="ISoulstoneService_Search_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="ISoulstoneService_GetMusicTrack_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMusicTrack" />
  </wsdl:message>
  <wsdl:message name="ISoulstoneService_GetMusicTrack_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMusicTrackResponse" />
  </wsdl:message>
  <wsdl:portType name="ISoulstoneService">
    <wsdl:operation name="Search">
      <wsdl:input wsaw:Action="http://tempuri.org/ISoulstoneService/Search" message="tns:ISoulstoneService_Search_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISoulstoneService/SearchResponse" message="tns:ISoulstoneService_Search_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMusicTrack">
      <wsdl:input wsaw:Action="http://tempuri.org/ISoulstoneService/GetMusicTrack" message="tns:ISoulstoneService_GetMusicTrack_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISoulstoneService/GetMusicTrackResponse" message="tns:ISoulstoneService_GetMusicTrack_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISoulstoneService" type="tns:ISoulstoneService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://tempuri.org/ISoulstoneService/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicTrack">
      <soap:operation soapAction="http://tempuri.org/ISoulstoneService/GetMusicTrack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SoulstoneService">
    <wsdl:port name="BasicHttpBinding_ISoulstoneService" binding="tns:BasicHttpBinding_ISoulstoneService">
      <soap:address location="http://localhost:1281/SoulstoneService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>